<div class="container">
  <div class="jumbotron opacity">
    <h2 class="text-center">StudentLog    </h2>
<img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Student-3-icon.png" class="img-responsive center-block" alt="Smiley face" height="256" width="256">
  </div>
</div>
